<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:include filename="$(find opcua_bringup)/urdf/control/opcua_interfaces.ros2_control.xacro"/>

    <xacro:macro name="opcua_ros2_control" params="
                name
                mock_hardware:=false
                mock_sensor_commands:=false
                client_cert_path:=''
                client_key_path:=''
                ca_cert_path:=''">

        <ros2_control name="${name}" type="system" is_async="true" rw_rate="5">
            <properties>
                <async scheduling_policy="synchronized" print_warnings="false" thread_priority="30"/>
            </properties>
            <hardware>
                <xacro:if value="${mock_hardware}">
                    <plugin>mock_components/GenericSystem</plugin>
                    <param name="mock_sensor_commands">${mock_sensor_commands}</param>
                </xacro:if>
                <xacro:unless value="${mock_hardware}">
                    <plugin>opcua_hardware_interface/OPCUAHardwareInterface</plugin>
                    <param name="ip">192.168.28.201</param>
                    <param name="port">4840</param>
                    <param name="user">admin</param>
                    <param name="password">ua_password</param>
                    <xacro:if value="${client_cert_path != ''}">
                        <param name="security.certificate_path">${client_cert_path}</param>
                    </xacro:if>
                    <xacro:if value="${client_key_path != ''}">
                        <param name="security.private_key_path">${client_key_path}</param>
                    </xacro:if>
                    <xacro:if value="${ca_cert_path != ''}">
                        <param name="security.ca_certificate_path">${ca_cert_path}</param>
                    </xacro:if>
                </xacro:unless>
            </hardware>

            <gpio name="opcua_jtc">
                <xacro:state_interface_OPCUA name="scaling" data_type="double" ua_type="UA_Double" ua_ns="1" ua_identifier="104"/>
            </gpio>

            <gpio name="opcua_semaphore">
                <xacro:state_interface_OPCUA name="red" data_type="double" ua_type="UA_Boolean" ua_ns="1" ua_identifier="101"/>
                <xacro:state_interface_OPCUA name="green" data_type="double" ua_type="UA_Boolean" ua_ns="1" ua_identifier="102"/>
                <xacro:state_interface_OPCUA name="yellow" data_type="double" ua_type="UA_Boolean" ua_ns="1" ua_identifier="103"/>
            </gpio>


        </ros2_control>

    </xacro:macro>

</robot>
